<h1>NPM D3 OrgChart</h1>
<hr />
<app-d3-org-chart [data]="data" (nodeClickedEvent)="nodeClicked($event)"></app-d3-org-chart>
<!-- <div>\n                  <div style=\"margin-left:70px;\n                              margin-top:10px;\n                              font-size:20px;\n                              font-weight:bold;\n                         \"> Petra Winkler </div>\n                 <div style=\"margin-left:70px;\n                              margin-top:3px;\n                              font-size:16px;\n                         \">Android Developer </div>\n\n                 <div style=\"margin-left:70px;\n                              margin-top:3px;\n                              font-size:14px;\n                         \"></div> -->
